body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/608/251/desktop-wallpaper-rose-gold-solid-color-color-plain.jpg);
}
h1{
    text-align: center;
    color: green;
}
div{
    color: black;
    font-size: large;   
}
