body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/608/251/desktop-wallpaper-rose-gold-solid-color-color-plain.jpg);
}
h1{
    text-align: center;
    color: blueviolet;
}
div{
    color: rgb(130, 0, 0);
    font-size: large;
    
   
}